<td colspan="2">
	<ol class="reply-block">
		<li>
			<a href="#-" class="reply pull-right auth">Reply</a>
		</li>
		<% comment.children.each  do |reply| %>
			<li id="reply_<%= reply.id %>" class="replies">
				<a href="#-"><%= reply.user.full_name %></a>&nbsp;<%= reply.body %>	
			</li>
		<% end %>
		<li class="reply-form">
			<%= render "comments/reply_form", :comment=> comment %>
		</li>
	</ol>
</td>
