<table class="reply-block">
	<tr>
		<td><a href="#-" class="reply">Reply</a></td>
	</tr>
	<% comment.children.each  do |reply| %>
		<tr id="reply_<%= reply.id %>" class="replies" >
			<td>
				<%= reply.body %>	
			</td>
		</tr>
	<% end %>	
	<tr>
		<td style="display:none;" class="reply-form">
			<%= render "comments/reply_form", :comment=> comment %>
		</td>
	</tr>
</table>